openwrt-imagebuilder*
build.log*
/prepend.tmp
# My files are in a secure repo that is managed with egit on the device
my_files*/*
# Include the egit config, when downloading this set-up use egit to checkout
!my_files*/.egit.conf
# A temporary thing, just load it into the config being generated
openwrt
